{:source-paths ["src"]
 
 :dependencies [[reagent "1.2.0"]]
 
 :dev-http {8080 {:root "public"
                   :host "0.0.0.0"}}
 
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn fashion-intelligence.core/init}}
   :devtools {:after-load fashion-intelligence.core/reload}}}}

